html, body {
  margin: 0;
  padding: 0;
  background-color:darkcyan;
}

canvas {
  display: block;
}
.main{
  background-color:darkcyan;
  /* background-size: 100%; */
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: antiquewhite;
  font-size: xx-large;
  display: flex;
  margin: 10px; 
  justify-content: center;
}

h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: antiquewhite;
  font-size:large;
  display: flex;
  margin-top: 0%;
  justify-content: center;
}

.description{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: antiquewhite;
  font-size: large;
  display: flex;
  margin: 10px; 
  justify-content: center;
  padding-right: 20%;
  padding-left: 20%;
}

.flexbutton{
  display: flex;
  margin: 10px; 
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  color: antiquewhite;
}

.button{
    padding-block: 10px;
    max-width: 30%;
    margin: 30px;
}

.pfwrap{
  width:100%;
  display: flex;
  margin: 10px; 
  justify-content: center;
}