html, body {
  margin: 0;
  padding: 0;
  background-color:maroon;
}

canvas {
  display: block;
}

.main{
  background-color:maroon;
  display: flex;
  flex-direction: column;
}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: antiquewhite;
  font-size:xx-large;
  display: flex;
  margin: 10px; 
  justify-content: center;
}

h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: antiquewhite;
  font-size:large;
  display: flex;
  margin-top: 0%;
  justify-content: center;
}

.instruc{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: antiquewhite;
  font-size:large;
  display: flex;
  margin: 10px; 
  justify-content: center;
  padding-right: 20%;
  padding-left: 20%;
}

.description{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: antiquewhite;
  display: flex;
  margin: 10px; 
  justify-content: center;
  font-size: large;
  margin-top: 10px;
  padding-right: 20%;
  padding-left: 20%;
}
.flexbuttons{
  display: flex;
  margin: 10px; 
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  color: antiquewhite;
}

.buttone{
  padding-block: 10px;
  max-width: 30%;
  margin: 30px;
}

.pfwrapper{
  width:100%;
  display: flex;
  margin: 10px; 
  justify-content: center;
}
