html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(26, 90, 54);
}

/* canvas {
  display: block;
} */

.main{
  background-color: rgb(26, 90, 54);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: antiquewhite;
  font-size:xx-large;
  display: flex;
  margin: 10px; 
  justify-content: center;
}
.pic {
  display: flex;
  /* margin: 10%;  */
  justify-content: center;
  align-items: center;
}

h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: antiquewhite;
  font-size:large;
  display: flex;
  margin-top: 0%;
  justify-content: center;
}

.ins{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: antiquewhite;
  font-size: large;
  display: flex;
  margin: 10px; 
  justify-content: center;
}
.descriptione{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  color: antiquewhite;
  display: flex;
  margin: 10px; 
  justify-content: center;
  padding-right: 20%;
  padding-left: 20%;
}

.flexbutton{
  display: flex;
  margin: 10px; 
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  color: antiquewhite;
}

.buton{
  padding-block: 10px;
  max-width: 30%;
  margin: 30px;
}

.pfwrappe{
  width:100%;
  display: flex;
  margin: 10px; 
  justify-content: center;
}
